@font-face{
    font-family:letra1;
    src: url(fonts/static/Muli-ExtraBold.ttf);    
}

@font-face{
    font-family: letra2;
    src: url(fonts/static/Muli-Light.ttf);
}

@font-face{
    font-family: letra3;
    src: url(fonts/static/Muli-Regular.ttf);
}

@font-face{
    font-family: letra4;
    src: url(fonts/static/Muli-Black.ttf);
}

span.sub_verde{
    border-bottom: solid 4px #58a573;
}

#encabezado{
    width: 100%;
    height: 100px;
    display: flex;
    background-color: rgb(242, 243, 243);
    justify-content: space-between;
    align-items: center;
    font-family: letra1;
}

#encabezado > div{
    display: flex;
    align-items: center; 
}

#encabezado> div:nth-child(1){
    width: 100px;
    height: 100%;
    font-size: 12px;
    padding-left: 40px;

    /*>a:active{
        color:#58a573;
    }*/   
}

#encabezado> div:nth-child(1)::before{
    content: url(imagenes/menu.png);
}

#encabezado> div:nth-child(2){
    width: 65%;
    height: 100%;
}

#encabezado> div:nth-child(3){
    height: 100%;
    width: 300px;
    display: flex;
    justify-content: space-around;
}

#encabezado>div>div{
    font-size: 12px;
}

#primer_recuadro{
    background-image: url(imagenes/1.jpeg);
    width: 100%;
    height: 700px;
    position: static;
}

#primer_recuadro>div:nth-child(1){
    width: 45%;
    height: 40%;
    font-size: 35px;
    font-weight: 800;
    /*border:red 1px dotted;*/
    position: relative;
    margin-left: 75px;
    font-family: letra1;
}

#primer_recuadro>div:nth-child(2){
    width: 45%;
    height: 20%;
    position: relative;
    margin-left: 75px;
    font-size: 20px;
    font-family: letra1;
    /*background-color: rgb(242, 243, 243);*/
}

#primer_recuadro>div:nth-child(3){
    width: 40%;
    height: 14%;
    position: relative;
    margin-left: 75px;
    font-family: letra2;
    font-size: 14px;

    span{
        font-family: letra1;
    }
}

button:first-child, button:nth-child(2){
    width: 100%;
    height: 100%;
    background-color:#58a573;
    font-family: letra3;
    font-size: 14px;
    color: honeydew;
}
#primer_recuadro>div:nth-child(4){
    position: relative;
    width: 23%;
    height: 8%;
    margin-top: 32px;
    margin-left: 65px;       
}

#segundo_recuadro{
    position: static;
    width: 100%;
    height: 550px;
    background-color:#58a573 ;
}

#segundo_recuadro > div{
    padding-top: 40px;
    padding-left:60px;
    float: left;
    width: 43%;
    height: 100%;
    
}

#segundo_recuadro{
    div{
        h2{
            font-family: letra1;
            font-size: 37px;
            /*line-height: 200%;*/
        }
    }
} 

#segundo_recuadro{
    div{
        p{
            font-size: 17px;
            font-family: letra3;
        }
    }
} 

#segundo_recuadro>div>div{
    position: relative;
    width: 250px;
    height: 55px;
    margin-top: 32px;
    
    button{
        background-color: #232827; 
        border: solid 1px #232827;
        font-family: letra3;
        font-size: 14px;
    } 
         
}

#tercer_recuadro{
    width: 100%;
    height: 670px;
    background-color: rgb(242, 243, 243);
    font-family: letra1;
    font-size: 28px;

    >div:nth-child(1){
        margin-left: 50px;

    }
    >div:nth-child(2){
        display: flex;
        justify-content: space-around;
        width: 96%;
        height: 600px;
        /*align-items: center;*/

        #cuadro_1{
            width: 75%;
            height: 90%;
            background-color: white;
            display: flex;
            flex-direction: column;
            margin-left: 35px;
            

            >div:nth-child(1){
                margin-top: 60px;
                margin-left: 50px;
                height: 200px;
                
                
                h2{
                    font-size: 27px;
                }

                p{
                    font-family: letra2;
                    font-size: 16px;
                }
                a{
                    font-size: 15px;
                    text-decoration: none;
                    color: black;
                }
                span{
                    font-size: 15px;
                    color: #58a573;
                }

            }

            >div:nth-child(2){
                width: 100%;
                height: 50%;
            }
        }

        #cuadro_2{
            background-color: white;
            width: 38%;
            height: 90%;
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            >div:nth-child(1){
                width: 260px;
                height: 250px;
            }

            >div:nth-child(2){
                display: flex;
                flex-direction: column;
                width: 230px;
                height: 50%;
                align-items: flex-start;
                padding-left: 30px;

                h2{
                    font-size:22px;
                }

                p{
                    font-family: letra2;
                    font-size: 14px;
                    
                }

                a{
                    font-size: 14px;
                    text-decoration: none;
                    color: black;
                }
                span{
                    font-size: 14px;
                    color: #58a573;
                }
            }

        }

        #cuadro_3{
            background-color: black;
            width: 40%;
            height: 90%;
            margin-left: 30px;
            display: flex;
            flex-direction: column;
            

            div:nth-child(1){
                width: 260px;
                height: 250px;
            }

            div:nth-child(2){
                display: flex;
                flex-direction: column;
                width: 88%;
                height: 49%;
                align-items: flex-start;
                padding-left: 30px;

                h2{
                    font-size: 21px;
                    color: white;
                    
                }

                p{
                    font-family: letra2;
                    font-size: 14px;
                    color: white;
                }

                a{
                    font-size: 14px;
                    text-decoration: none;
                    color: #58a573;
                }
                span{
                    font-size: 14px;
                    color: #58a573;
                }
            }

        }
    }

}

#cuarto_recuadro, #quinto_recuadro {
    margin-top: 20px;
    margin-bottom: 60px;
}

#sexto_recuadro{
    width: 100%;
    height: 350px;

    div:nth-child(1){
        font-family: letra1;
        font-size: 18px;
        width: 100%;
        height: 100px;   
    }

    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        
        li{
            /*border: red 1px solid;*/
            width: 220px;
        }
    }   
}

#septimo_recuadro{
    width: 100%;
    height: 1250px;
    background-color: rgb(242, 243, 243);

    h2{
        padding-top: 80px;
        font-family: letra4;
        font-size: 50px;

        span{
            color: #58a573;
        }
    }
    p{
        font-family: letra3;
        font-size: 15px;
    }
    div{
        position: static;
    }
}

#octavo_recuadro{
        padding-top: 80px;
        height: 630px;
        width: 100%;
        
        h2{
            font-family: letra1;
            padding-left: 80px;
            font-size: 29px;
        }
        
       
        >div{
            display: flex;
            ul{
                list-style: none;
                height:100%;
                width: 50%;
                display: flex;
    
                li{
                    width:280px;
                    height:250px;
                    float: left; 
                    font-family: letra3;
                    font-size: 13px;
                    p{
                        text-align:center;
                    }
                    
                }
            }

            >div{
                width:50%;
                height:520px;
                display: flex;
            }    
        }
}

#noveno_recuadro{
    width: 100%;
    height: 600px;
    background-color: rgb(242, 243, 243);
    display: flex;
    div:nth-child(1){
        padding-top: 50px;
        padding-left: 50px;
        width: 46%;
        height: 600px;
        h2{
            font-family: letra1;
            font-size: 50px;
        }
        p{
            font-family: letra3;
            font-size: 15px;
            width: 75%;
        }

        button{
            background-color:#58a573;
            font-family: letra3;
            font-size: 14px;
            width: 280px;
            height: 60px;
            color: white;
        }
    }

    div:nth-child(2){
        width: 54%;
        height: 100%;
    }
    
}

#decimo_recuadro{
    width: 100%;
    height: 1000px;
    border: solid 1px red;
    background-color: rgb(242, 243, 243);

    >h2{
        padding-top: 100px;
        font-family: letra1;
        font-size: 30px;
        text-align: center;

        span{
            color: #58a573;
        }
    }

    ul{
        list-style: none;
        display: flex;

        li{
            height: 385px;
            width: 385px;
            border:rgb(242, 243, 243) 1px solid ;
        }

        div:nth-child(3){
            li:nth-child(1){
                background-color: #58a573;
                font-family: letra1;
                color: black;
                >h2{
                    margin-top: 60px;
                    font-size: 35px;
                    text-align: left;
                    width: 70%;
                    margin-left: 40px;
                }

                p{
                    font-size: 13px;
                    margin-left: 40px;
                }
                
               
            }
        }
    }
}


